{
  "presets": [
    [
      "@babel/preset-env"
      // {
      //   "useBuiltIns": "usage", //babel-polyfill 按需引入
      //   "corejs": 3 ////babel-polyfill 按需引入 ie无法兼容
      // }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      } //按需引入vant
    ]
  ]
}